---
// Logo component for the topbar
import { getAssetPrefix } from '../../../../../utils/path.js'
---

<img
  src={getAssetPrefix('/assets/svg/astero-icon-color.svg')}
  alt="Logo"
  class="me-2"
  width="40"
  height="40"
/>
<span class="fw-medium text-dark fs-5">Astero Admin</span>
