---
import FrontLayout from '../layouts/front/front-layout.astro'
---

<FrontLayout currentPath="test" title="Test" description="Test lorem ipsum.">
  <!-- Hero Section -->
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Hey there!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ab enim sapiente aperiam
        aspernatur tempora ipsum tenetur voluptas iure!
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
        <button type="button" class="btn btn-outline-primary btn-lg px-4">Outline button</button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img
          src="https://asterodigital.com/storage/local/aamf/cms/media/124/dashboard-img-2.png"
          class="img-fluid border rounded-3 shadow-lg mb-4"
          alt="Example image"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
    </div>
  </div>
  <!-- Pricing Section -->
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2 class="display-6 fw-bold">Pricing</h2>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ab enim sapiente aperiam
      aspernatur tempora ipsum tenetur voluptas iure!
    </p>
  </div>
  <div class="row row-cols-1 row-cols-md-3 mb-5 text-center">
    <div class="col">
      <div class="card rounded-3 shadow-sm p-0 mb-4">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Free</h4>
        </div>
        <div class="card-body p-3">
          <h1 class="card-title pricing-card-title">
            $0<small class="text-muted fw-light">/mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary"
            >Sign up for free</button
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-3 shadow-sm p-0 mb-4">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Pro</h4>
        </div>
        <div class="card-body p-3">
          <h1 class="card-title pricing-card-title">
            $15<small class="text-muted fw-light">/mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>20 users included</li>
            <li>10 GB of storage</li>
            <li>Priority email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-3 shadow-sm border-primary p-0 mb-4">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">Enterprise</h4>
        </div>
        <div class="card-body p-3">
          <h1 class="card-title pricing-card-title">
            $29<small class="text-muted fw-light">/mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 users included</li>
            <li>15 GB of storage</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
        </div>
      </div>
    </div>
  </div>
</FrontLayout>
